/*src/components/DashboardPage.css*/

.dashboard-container {
  text-align: center;
  padding: 20px;
  color: #E0E0E0;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #E0E0E0;
  border: 2px solid #E0E0E0;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #E0E0E0;
  color: #000;
  border-color: transparent;
}

@media (max-width: 768px) {
  .logout-button {
    width: 90%;
  }
}
